
<!--This is the syntax for using variables, the values being fed in is coming from the 
"Pages" controller, allowing us to send data from the "controller" to the "view" very easily.
-->
<h1><%= @title %></h1>
<p><%= @content %></p>